.about {
  @extend %flex-row-center-between;
  padding: 10rem $padding-x 9.4rem $padding-x;
}

.about__image-wrapper,
.about__content-wrapper {
  @extend %width-50;
  @extend %flex-centering;
}

.about__image {
  @extend %width-100;
  height: 47.9rem;
  @extend %background-image-properties;
  background-position: right;
  background-image: url("../images/houseplant-1.png");
}

.about__title {
  @extend %text-h2-inika;
  color: $color-accent;
  margin: 0;
  padding: 4.8rem 4rem 0 0;
}

.about__description {
  @extend %text-basic-inter;
  line-height: 3rem;
  color: $color-gray-s;
  margin: 0;
  padding: 4rem 0;
}
