.about {
  @extend %flex-row-center-between;
  padding: 10rem $padding-x 9.4rem $padding-x;

  @include media-xxl {
    padding: 4rem $padding-x-m 9.5rem $padding-x-m;
  }

  @include media-l {
    flex-direction: column;
  }

  @include media-s {
    padding: 3rem $padding-x-s 2.8rem $padding-x-s;
  }
}

.about__image-wrapper,
.about__content-wrapper {
  @extend %width-50;
  @extend %flex-centering;

  @include media-l {
    width: 100%;
  }
}

.about__image {
  @extend %width-100;
  height: 47.9rem;
  @extend %background-image-properties;
  background-position: right;
  background-image: url("../images/houseplant-1.png");

  @include media-l {
    height: 25.8rem;
    background-position: center;
  }

  @include media-s {
    height: 15.4rem;
  }
}

.about__title {
  @extend %text-h2-inika;
  color: $color-accent;
  @extend %margin-0;
  padding: 4.8rem 4rem 0 0;

  @include media-l {
    font-size: 3.5rem;
    line-height: 4.6rem;
    padding: 0 12rem;
    text-align: center;
  }

  @include media-s {
    font-size: 2.5rem;
    line-height: 3.3rem;
    padding: 0;
  }
}

.about__description {
  @extend %text-basic-inter;
  line-height: 3rem;
  color: $color-gray-s;
  @extend %margin-0;
  padding: 4rem 0;

  @include media-l {
    padding: 5rem 0 7rem 0;
  }

  @include media-s {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1.2rem 0 0 0;
  }
}
