.contacts {
  @extend %flex-row-start-between;
  padding: 5.3rem $padding-x 0 calc($padding-x - 0.5rem);

  @include media-xxl {
    padding: 3.6rem $padding-x-m 0 $padding-x-m;
  }

  @include media-xl {
    flex-direction: column;
  }

  @include media-s {
    padding: 2.5rem $padding-x-s 0 $padding-x-s;
  }
}

.contacts__image-wrapper,
.contacts__content-wrapper {
  width: calc(100% / 3);
  @extend %flex-centering;

  @include media-xl {
    width: 100%;
  }
}

.contacts__image-wrapper {
  @include media-xl {
    order: 2;
  }
}

.contacts__image {
  @extend %width-100;
  height: 49.7rem;
  @extend %background-image-properties;
  background-image: url("../images/contact_woman-1.png");

  @include media-xl {
    margin: 25rem 0 0 2rem;
    height: 24.9rem;
  }

  @include media-s {
    margin: 13.4rem 0 0 0;
    height: 12.4rem;
  }
}

.contacts__title {
  @extend %text-h2-inika;
  font-weight: 700;
  color: $color-primary;
  margin: 0;
  padding-top: 0.5rem;

  @include media-s {
    font-size: 2.5rem;
    line-height: 3.3rem;
    padding-top: 0;
  }
}

.contacts__select {
  padding-top: 9.4rem;
  margin-left: -4rem;

  @include media-xl {
    padding-top: 9.8rem;
    margin-left: 0;
  }

  @include media-s {
    padding-top: 8.2rem;
  }
}
