.app__footer {
  @extend %text-basic-inter;
  color: $color-gray-xl;
  background-color: $color-background;
  @extend %width-100;
}

.footer__wrapper {
  margin: 0 auto;
}

.footer {
  @extend %flex-row-center-between;
  gap: 3rem;
  padding: 2.6rem $padding-x;
}

.footer__item {
  width: calc(100% / 3);
}

.footer__text {
  color: $color-gray-xl;
}

.footer__link {
  text-decoration: none;
  color: $color-gray-xl;
  @extend %transition;

  &:hover {
    color: $color-accent;
  }
}

.github {
  @extend %flex-row-center-between;
  justify-content: flex-start;
  gap: 2rem;
}

.school {
  text-align: center;
}

.socials {
  @extend %flex-row-center-between;
  justify-content: flex-end;
  gap: 2rem;
}
