.app__footer {
  @extend %text-basic-inter;
  color: $color-gray-xl;
  background-color: $color-background;
  @extend %width-100;
}

.footer__wrapper {
  margin: 0 auto;
}

.footer {
  @extend %flex-row-center-between;
  gap: 3rem;
  padding: 4.6rem $padding-x;

  @include media-xxl {
    padding: 2.8rem $padding-x-m;
  }

  @include media-m {
    flex-direction: column;
    gap: 0.6rem;
  }
}

.footer__item {
  width: calc(100% / 3);

  @include media-m {
    width: 100%;
  }
}

.footer__text {
  color: $color-gray-xl;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: $color-gray-xl;
  @extend %transition;

  &:hover {
    color: $color-accent;
  }
}

.github {
  @extend %flex-row-center-between;
  justify-content: flex-start;
  gap: 2rem;

  @include media-m {
    justify-content: center;
  }
}

.school {
  text-align: center;
}

.socials {
  @extend %flex-row-center-between;
  justify-content: flex-end;
  gap: 2rem;

  @include media-m {
    justify-content: center;
    padding-top: 1.2rem;
  }
}
