.app__header {
  @extend %text-header;
  color: $color-gray-l;
  background-color: $color-background-accent;
  @extend %width-100;
}

.header__wrapper {
  margin: 0 auto;
}

.header {
  @extend %flex-row-center-between;
  padding: 4.2rem $padding-x;

  @include media-xxl {
    padding: 3.5rem calc($padding-x-m + 2px);
  }
}

.logo__text {
  margin-left: -0.5rem;
}

.menu__list {
  @extend %flex-row-center-between;
  gap: 4.7rem;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.menu__link {
  text-decoration: none;
  color: $color-gray-l;
  @extend %transition;

  &:hover,
  &-active {
    color: $color-accent;
  }
}
