.app__header {
  @extend %text-header;
  color: $color-links;
  background-color: $color-background-accent;
  width: 100%;
}

.header__wrapper {
  margin: 0 auto;
  padding: 4.2rem 11rem;
}

.header {
  @extend %flex-row-center-between;
}

.menu__list {
  @extend %flex-row-center-between;
  gap: 4.6rem;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.menu__link {
  text-decoration: none;
  color: $color-links;
  @extend %transition;

  &:hover,
  &-active {
    color: $color-accent;
  }
}
