.price {
  @extend %flex-row-start-between;
  padding: 4rem $padding-x 11.5rem $padding-x;

  @include media-xxl {
    padding: 4rem $padding-x-m 9rem $padding-x-m;
  }
}

.price__content-wrapper,
.price__contact-wrapper {
  @extend %width-50;
}

.price__title {
  @extend %text-h2-inter;
  color: $color-gray-xl;
  margin: 0;

  @include media-m {
    font-size: 3.5rem;
    line-height: 4.2rem;
  }
}

.price__content {
  @extend %flex-column-start-between;

  .price__title {
    padding-bottom: 6rem;

    @include media-m {
      padding-left: 1.5rem;
      padding-bottom: 5.8rem;
    }
  }
}

.price__price-list-wrapper {
  padding: 3.2rem 4rem;
  border: 1px solid $color-border;
  border-radius: 2rem;
}

.price__contact {
  @extend %flex-column-end-between;
  gap: 4.2rem;

  @include media-m {
    gap: 3rem;
  }

  .price__title {
    text-align: right;
    padding-left: 12rem;

    @include media-l {
      font-size: 2.5rem;
      line-height: 3.5rem;
      padding: 10rem 0 0 5rem;
    }
  }
}

.price__image-wrapper {
  @extend %flex-centering;
  @extend %width-100;
}

.price__image {
  @extend %width-100;
  height: 17.5rem;
  @extend %background-image-properties;
  background-position: right;
  background-image: url("../images/leafs-small.png");
}
