.service {
  padding: 3.4rem $padding-x 12.1rem $padding-x;
}

.service__image-wrapper,
.service__content-wrapper {
  @extend %width-100;
}

.service__content {
  padding: 0 21.4rem 8rem 0;
  @extend %flex-row-center-between;
  gap: 14rem;
}

.service__title {
  @extend %text-h2-inika;
  color: $color-accent;
  margin: 0;
  padding: 0;
  max-width: 31rem;
}

.service__btn-panel {
  @extend %flex-row-center-between;
  gap: 3.8rem;
}

.service__grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 11.6rem;
  grid-row-gap: 5.4rem;
}
