.service {
  padding: 3.4rem $padding-x 12rem $padding-x;

  @include media-xxl {
    padding: 6rem $padding-x-m 7rem $padding-x-m;
  }

  @include media-s {
    padding: 3rem $padding-x-s 2.8rem $padding-x-s;
  }
}

.service__image-wrapper,
.service__content-wrapper {
  @extend %width-100;
}

.service__content {
  @extend %flex-row-center-between;
  gap: 14rem;
  padding: 0 21.4rem 8rem 0;

  @include media-xxl {
    gap: 4rem;
  }

  @include media-xl {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
  }

  @include media-s {
    padding: 0 0 8rem 0;
    gap: 3.8rem;
    padding-bottom: 4rem;
  }
}

.service__title {
  @extend %text-h2-inika;
  color: $color-accent;
  @extend %margin-0;
  padding: 0;
  max-width: 31rem;

  @include media-l {
    font-size: 3.5rem;
    line-height: 4.6rem;
  }

  @include media-s {
    font-size: 2.5rem;
    line-height: 3.3rem;
    padding-right: 10rem;
  }
}

.service__btn-panel {
  @extend %flex-row-center-between;
  gap: 3.8rem;

  @include media-s {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.service__grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 11.6rem;
  grid-row-gap: 5.4rem;
  justify-items: center;

  @include media-xxl {
    grid-column-gap: 2rem;
    grid-row-gap: 3.8rem;
  }

  @include media-l {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10.6rem;
  }

  @include media-m {
    grid-column-gap: 2rem;
  }

  @include media-s {
    grid-template-columns: 1fr;
    grid-row-gap: 3.4rem;
  }
}
