.welcome {
  @extend %flex-row-center-between;
  gap: 12.4rem;
  padding: 6.2rem $padding-x;
}

.welcome__image-wrapper,
.welcome__content-wrapper {
  @extend %width-50;
  @extend %flex-centering;
}

.welcome__image {
  @extend %width-100;
  height: 40.8rem;
  @extend %background-image-properties;
  background-position: left;
  background-image: url("../images/leafs.png");
}

.welcome__title {
  @extend %text-h1-title;
  color: $color-gray-s;
  margin: 0;
}

.welcome__description {
  @extend %text-basic-inter;
  color: $color-gray-s;
  margin: 0;
  padding: 4.4rem 2.3rem 4.8rem 0;
}
