.welcome {
  @extend %flex-row-start-between;
  gap: 12.4rem;
  padding: 6.2rem $padding-x;

  @include media-xxl {
    padding: 1.5rem $padding-x-m 7rem $padding-x-m;
  }

  @include media-xl {
    flex-direction: row-reverse;
    gap: 0;
  }

  @include media-s {
    padding: 0 $padding-x-s 2.5rem $padding-x-s;
  }
}

.welcome__image-wrapper,
.welcome__content-wrapper {
  @extend %width-50;
  @extend %flex-centering;
}

.welcome__image-wrapper {
  @include media-s {
    display: none;
  }
}

.welcome__content-wrapper {
  @include media-s {
    width: 100%;
  }
}

.welcome__image {
  @extend %width-100;
  height: 40.8rem;
  @extend %background-image-properties;
  background-position: left;
  background-image: url("../images/leafs.png");

  @include media-xl {
    height: 25.4rem;
    background-position: right;
    margin-top: 2.2rem;
  }
}

.welcome__title {
  @extend %text-h1-title;
  color: $color-gray-s;
  margin: 0;
  padding-top: 3.6rem;

  @include media-xl {
    font-size: 3.5rem;
    margin-right: -1rem;
    padding-top: 2.2rem;
  }

  @include media-s {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.welcome__description {
  @extend %text-basic-inter;
  color: $color-gray-s;
  margin: 0;
  padding: 4.4rem 2.3rem 4.8rem 0;

  @include media-xl {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 3rem 0 3.6rem 0.4rem;
  }

  @include media-s {
    padding: 2rem 0 2.6rem 0rem;
  }
}
