.price-list {
  @extend %flex-column-start-between;
  gap: 3rem;

  @include media-s {
    gap: 1.4rem;
  }
}

.price-item {
  @extend %flex-column-start-between;
  background-color: $color-background-accent;
  width: 25rem;
  border-radius: 2rem;
  padding: 1.6rem 4rem;
  cursor: pointer;
  @extend %transition;

  @include media-s {
    width: 18rem;
    padding: 1.6rem 4rem 1.4rem 3rem;
  }

  &:hover {
    background-color: $color-background-hover;
  }

  &-open {
    background-color: $color-background-hover;
  }
}

.price-item__caption {
  @extend %flex-row-center-between;
  width: 17rem;

  @include media-s {
    width: 11rem;
  }
}

.price-item__title {
  @extend %text-card-title;
  @extend %margin-0;

  @include media-s {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
