.lock {
  overflow: hidden;
}

.app {
  @extend %flex-column-center-between;
}

.app__container {
  max-width: $width-project;
  margin: 0 auto;
}

.app__main {
  @extend %width-100;
}

.section {
  background-color: $color-background;
}

.section-accent {
  background-color: $color-background-accent;
}

.color-primary {
  color: $color-primary;
}
