// transition
%transition {
  transition: all 0.3s ease-out;
}

// flex
%flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

%flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// fonts
%text-header {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 5rem;
}

%text-h1-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
}

%text-basic-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
}

%text-btn-primary {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}
