// transition
%transition {
  transition: all 0.3s ease-out;
}

// width
%width-50 {
  width: 50%;
}

%width-100 {
  width: 100%;
}

%margin-0 {
  margin: 0;
}

// background-image
%background-image-properties {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// flex
%flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column-center-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

%flex-column-start-between {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

%flex-column-end-between {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

%flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

%flex-row-start-between {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

// fonts
%text-header {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 5rem;
}

%text-h1-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
}

%text-h2-inika {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
}

%text-h2-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
}

%text-card-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

%text-basic-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
}

%text-card {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

%text-btn-basic {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
}

%text-dropdown-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
}

%text-dropdown-basic {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
