$color-primary: #499a18;
$color-accent: #e06733;
$color-gray-light: #717171;
$color-gray-medium: #636060;
$color-links: #010201;
$color-border: #e3e1d5;

$color-background: #ffffff;
$color-background-accent: #edf2ec;

$width-project: 144rem;
