$color-primary: #499a18;
$color-accent: #e06733;
$color-gray-s: #717171;
$color-gray-m: #636060;
$color-gray-l: #010201;
$color-gray-xl: #000000;
$color-border: #e3e1d5;

$color-background: #ffffff;
$color-background-accent: #edf2ec;
$color-background-hover: #d6e7d2;
$color-background-active: #c1e698;

$color-arrow: #d9d9d9;
$color-arrow-accent: #aea1a1;
$color-arrow-active: #8ba07e;

$width-project: 144rem;

$padding-x: 11rem;
$padding-x-m: 5rem;
$padding-x-s: 5rem;

$breakpoint-xxl: 1439px;
$breakpoint-xl: 1200px;
$breakpoint-l: 1000px;
$breakpoint-m: 768px;
$breakpoint-s: 380px;
